<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmerfriend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.AboutActivity"></activity>
        <activity android:name=".Activity.PaddyInsectsActivity" />
        <activity android:name=".Activity.PaddyDiseaseActivity" />
        <activity android:name=".Activity.PaddyFertilizerActivity" />
        <activity android:name=".Activity.PaddyGuideline" />
        <activity android:name=".Activity.PaddyActivity" />
        <activity android:name=".Activity.Chat" />
        <activity android:name=".Activity.Message" />
        <activity android:name=".Activity.ForgetPassword" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.SignUp" />
        <activity android:name=".Activity.WatermelonDisease" />
        <activity android:name=".Activity.WatermelonInsects" />
        <activity android:name=".Activity.Watermelon" />
        <activity android:name=".Activity.WatermelonFertilizer" />
        <activity android:name=".Activity.WatermelonGuideline" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>